.container {
    display: grid;
    /* grid-template-columns: 60% auto; */
    max-width: 1500px;
    margin: auto;
    margin-bottom: 80px;
    max-width: min(850px, 90vw) !important;
}
@media screen and (max-width: 800px) {
    .container {
        grid-template-columns: auto;
    }
}