.container {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 100%;
    cursor: pointer;
}
.container img {
    height: 100%;
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 16px -4px;
    position: absolute;
    top: 0;
    object-fit: contain;
}
.tooltip {
    color: #fc6341;
    backdrop-filter: blur(6px);
    position: absolute;
    bottom: 0px;
    z-index: 1;
    border-radius: 6px;
    padding: 6px;
    font-size: 19px;
    font-weight: 800;
    box-shadow: 0 0px 14px -9px black;
    opacity: 0;
    transition: 300ms;
    text-shadow: 0 0 2px black;
    text-align: center;
}
.container:hover .tooltip {
    opacity: 1;
    bottom: 50%;
    transform: translateY(50%);
} 