.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.container h1 {
    text-align: center;
    width: 100%;
    color: var(--h1-color);
    font-size: var(--h1-size);
}